<h1> Stupid Coaching</h1>

<h3>  Ask your favorite coach what you want ! </h3>

<form action="/answer" method="get">
  <input type="text" name="question" placeholder="Ask the coach">
  <input type="submit" value="Ask!">
</form>

